{{yield}}
<div class="article-container">
  <div class="left">
    <img src={{article.image}}/>
  </div>
  <div class="right">
    <h3>{{article.title}}</h3>
    <span class="body">{{article.body}}</span>
    <span class="author">{{article.author}}</span>
    <span class="timestamp">{{article.timestamp}}</span>
  </div>
</div>
